@model conffandauthh.Models.ChatHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChatHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldRooms.ownerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldRooms.ownerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.messageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
